<section class="params">
  <h3><%= t(:response_fields, scope: :apitome) %></h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <% param_headers(params).each do |title| %>
          <th><%= title %></th>
        <% end %>
      </tr>
      <% 
        grouped_params = {}
        params.map do |param|
          scope = param['scope'] || 'Top level'
          grouped_params[scope] ||= []
          grouped_params[scope] << param
        end
      %>
      <% grouped_params.each do |scope, params| %>
        <th colspan="2"><%= scope %></th>
        <% params.each do |param| %>
          <tr>
            <td class="name">
              <%= param['name'] %>
            </td>
            <td class="description"><%= param['description'] %></td>
            <% param_extras(params).each do |extra| %>
              <td class="extra"><%= param[extra] %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</section>
